<!DOCTYPE html>
<html>
<head>
  <script src='https://www.google.com/jsapi'></script>
  <title>USD Exchange</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Font+Name">
  
</head>
<body>


<%= yield %>

</body>
</html>
